<div class="container" id="fade-in">
  <div class="row">
    <div class="col s12">
      <div class="z-depth-2 about-card">

        <h3>Hi! I'm Max.</h3>

        <img src="assets/img/about/max-strange.jpeg" class="profile-image z-depth-1">

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at nulla consectetur, ullamcorper elit nec, dignissim metus.
          Pellentesque cursus cursus eros, sed scelerisque nibh tincidunt sit amet. Etiam dictum nibh cursus leo hendrerit,
          eu luctus nisi rutrum. Donec placerat nisi quis rutrum dignissim. Maecenas elementum vel arcu ut molestie. Ut accumsan
          mattis nibh, vel eleifend odio scelerisque sed. Nulla egestas tortor vitae lacus feugiat, aliquet hendrerit dolor
          hendrerit. Ut porttitor lorem a nulla vestibulum iaculis.

        </p>
        <p>
          Nullam scelerisque ante sollicitudin ex egestas dictum. Mauris posuere dapibus risus, lobortis tempor orci ornare pretium.
          Aenean tellus mi, blandit eu condimentum faucibus, pretium nec ligula. Curabitur elit ex, tempus a arcu sed, ornare
          pellentesque dui. Proin non molestie purus, quis consectetur mi. Mauris vel diam eu ligula efficitur gravida. Nam
          mattis quam erat, eget aliquam lacus posuere et. Integer a maximus urna, tristique venenatis nisl. Fusce feugiat
          purus et egestas tincidunt.

        </p>
        <p>
          Sed porta nisl eu nulla egestas tristique. Vestibulum maximus imperdiet dolor at molestie. Vivamus feugiat rutrum lorem,
          eu commodo sem rhoncus vitae. Duis eget mi justo. Vivamus volutpat semper aliquam. Aliquam enim lacus, hendrerit
          a ligula imperdiet, facilisis vehicula tortor. Suspendisse accumsan mauris ut neque consequat, a lobortis sapien
          ultrices. Vivamus nec tincidunt justo. Aliquam tincidunt sapien orci. Maecenas vel eros dui. Phasellus eu nibh
          non arcu commodo feugiat quis eget sapien. Mauris at ullamcorper arcu, vitae ultricies lectus. Pellentesque erat
          turpis, tristique nec facilisis id, pretium vitae lacus.

        </p>
        <p>
          Aliquam at condimentum lacus. Morbi eu ipsum ut tellus ultrices sollicitudin nec vitae eros. Mauris at mollis nisl. Etiam
          imperdiet dignissim justo sit amet suscipit. Vivamus a lacinia diam, non consectetur ante. Vestibulum urna neque,
          blandit sed rhoncus a, facilisis sed est. Pellentesque habitant morbi tristique senectus et netus et malesuada
          fames ac turpis egestas. Ut eget nunc ornare, ultrices est non, fermentum ligula. Aliquam vehicula, ipsum porta
          pulvinar luctus, nisi nisi dapibus lacus, sed malesuada magna nisl rutrum lacus. Nunc non nibh pretium, convallis
          augue non, ornare tortor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          Praesent iaculis, justo placerat maximus imperdiet, nisl augue ultrices velit, eget imperdiet ex nunc non quam.
          Aliquam in risus nulla. Nam tellus purus, aliquam id sollicitudin vitae, vulputate ut metus. Maecenas at tortor
          lacus. Vestibulum aliquet dui lectus, sit amet iaculis nunc accumsan vitae.

        </p>
        <p> Nunc arcu ante, laoreet in enim ultricies, congue elementum leo. Proin eget rhoncus felis. Curabitur pharetra pellentesque
          dolor, in mollis tellus fermentum sit amet. Nunc imperdiet mattis tincidunt. Ut a elit tempor nibh tincidunt placerat
          et ac lacus. Quisque feugiat orci vel aliquam sollicitudin. Curabitur quis urna libero. Ut in magna eu tortor tincidunt
          pharetra posuere et quam. Aliquam nec lobortis orci. Donec fermentum dolor sed imperdiet viverra. Nam ac odio a
          nunc sollicitudin dictum. Quisque pharetra tortor vitae elit sodales iaculis. Donec eu aliquam dolor. Praesent
          ipsum orci, commodo et diam sed, vestibulum vulputate neque.</p>
      </div>
    </div>
  </div>
</div>