h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.8em;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.4em;
}

p {
    font-family: 'Oswald', sans-serif;
}